@use 'variables' as V;

body {
  background-color: V.$background-color;
  color: V.$font-base-color;

  font-family: V.$default-font-family;

  margin-left: V.$margin-base;
  margin-right: V.$margin-base;

  max-width: V.$max-width;
}
